body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    color: rgb(10, 10, 10);
    text-align: center;
    
  }
  
header {
  background-color: rgb(227, 161, 166);
}

.list {
  text-align: center;
}

.books {
  width: 250px;
  height:250px;
}

.coffee {
  width: 250px;
  height: 250px;
}

.glasses {
  width: 250px;
  height: 250px;
}
.notes {
  width: 250px;
  height: 250px;
}

.logo {
  width: 200px;
  height: 200px;
}
