body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    color: rgb(10, 10, 10);
    text-align: center;
    
  }
  
header {
  background-color: rgb(227, 161, 166);
}

.list {
  text-align: center;
}

.books {
  width: 250px;
  height:250px;
}

.coffee {
  width: 250px;
  height: 250px;
}

.glasses {
  width: 250px;
  height: 250px;
}
.notes {
  width: 250px;
  height: 250px;
}

.logo {
  width: 200px;
  height: 200px;
}

.toplist {
  text-align: left;
}

cite {
  font-style: italic;
  text-align: center;
}

.container2 {
  max-width: 450px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

form textarea {
  width: 100%;
  font-family: Lato;
  font-size: 18px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  background-color: #F3F6F6;
  margin-bottom: 10px;

}

form input[type="submit"] {
  background-color: rgb(227, 161, 166);
  border: none;
  font-size: 18px;
  font-family: Lato;
  font-weight: bold;
  padding: 5px 50px;
  border-radius: 20px;
  color: white;

}

.entry {
  margin-top: 50px;
}

.entry-title {
  font-size: 16px;
}

.entry-date {
  color: #5c6b70;
  align-items: right;
}

.entry-content {
  font-size: 14px;
  line-height: 150%;
}

.career {
  color: grey
}

.submit {
  align-items: right;
}