<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>9 Careers in IS</title>
</head>
<body>

    {% extends 'base.html' %}
    {% block content %}

    <div style="width:100%;">
        &nbsp;&nbsp;
        <h1>9 Careers in IS!</h1>
            <ul class="toplist">
                <h3><cite>1. Technical Specialist</cite> <br> <img class="tech"  src="/static/assets/techspec.jpg" align="left" alt="tech">  
                    <p>Computer support specialists provide help and advice to people and organizations using computer software or equipment.
                       Some, called computer network support specialists, support information technology (IT) employees within their organization. 
                       Others, called computer user support specialists, assist non-IT users who are having computer problems.</p></h3> <br>

                <h3><cite>2. Programmer Analyst</cite> <br> <img class="programmer" src="/static/assets/programmer.jpg" align="left" alt="programmer"> 
                    <p>Computer systems analysts study an organization’s current computer systems and procedures and design information systems solutions 
                       to help the organization operate more efficiently and effectively. They bring business and information technology (IT) together by 
                       understanding the needs and limitations of both.</p></h3> <br>

                <h3><cite>3. Computer Technician</cite> <br> <img class="ctech" src="/static/assets/computer.jpg" align="left" alt="ctech"> 
                <p>Computer support specialists provide help and advice to people and organizations using computer software or equipment. Some, called computer 
                    network support specialists, support information technology (IT) employees within their organization. Others, called computer user support 
                    specialists, assist non-IT users who are having computer problems.</p></h3> <br>

                <h3><cite>4. Systems Administrator</cite> <br> <img class="admin" src="/static/assets/admin.jpg" align="left" alt="admin">
                <p>Job Description: Computer networks are critical parts of almost every organization. Network and computer systems administrators 
                    are responsible for the day-to-day operation of these networks.</p> </h3> <br>

                <h3><cite>5. Network Technician</cite> <br> <img class="network" src="/static/assets/network.jpg" align="left" alt="network">
                <p>Job Description: Computer networks are critical parts of almost every organization. Network and computer systems administrators 
                    are responsible for the day-to-day operation of these networks.</p> </h3> <br>

                <h3><cite>6. Network Administrator</cite> <br> <img class="nadmin" src="/static/assets/nadmin.jpg" align="left" alt="nadmin">
                <p>Job Description: Computer networks are critical parts of almost every organization. Network and computer systems administrators 
                    are responsible for the day-to-day operation of these networks.</p> </h3> <br>
                
                <h3><cite>7. Assistant Manager</cite> <br> <img class="manager" src="/static/assets/manager.jpg" align="left" alt="manager">
                <p>Job Description: Assistant managers have a lot of responsibilities, and this job requires good leadership skills. The manager 
                    is typically responsible for planning and directing the operations of a business unit, department or store.</p> </h3> <br>

                <h3><cite>8. Help Desk Analyst</cite> <br> <img class="help" src="/static/assets/help.jpg" align="left" alt="help">
                <p>Job Description: Top executives devise strategies and policies to ensure that an organization meets its goals. They plan, 
                    direct, and coordinate operational activities of companies and organizations.</p> </h3> <br>

                <h3><cite>9. Software Engineer</cite> <br> <img class="engineer" src="/static/assets/engineer.jpg" align="left" alt="engineer">
                <p>Job Description: Computer support specialists provide help and advice to people and organizations using computer software or 
                    equipment. Some, called computer network support specialists, support information technology (IT) employees within their 
                    organization. Others, called computer user support specialists, assist non-IT users who are having computer problems.</p> </h3> <br>
            </ul>
    

    {% endblock content %}


</body>
</html>