<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>9 Careers in IS</title>
</head>
<body>
    <!--jinja - from base.html template-->
    {% extends 'base.html' %}
    {% block content %}

    <!--start here-->
    <div style="width:100%;">
        &nbsp;&nbsp;
        <h1>9 Careers in IS!</h1>
            <ul class="toplist">
                <h3><cite>1. Technical Specialist</cite> <br> <img class="tech"  src="/static/assets/techspec.jpg" align="left" alt="tech">  
                    <p>Computer support specialists provide help and advice to people and organizations using computer software or equipment.
                       Some, called computer network support specialists, support information technology (IT) employees within their organization. 
                       Others, called computer user support specialists, assist non-IT users who are having computer problems.</p></h3> <br>

                <h3><cite>2. Programmer Analyst</cite> <br> <img class="programmer" src="/static/assets/programmer.jpg" align="left" alt="programmer"> 
                    <p>Computer systems analysts study an organization’s current computer systems and procedures and design information systems solutions 
                       to help the organization operate more efficiently and effectively. They bring business and information technology (IT) together by 
                       understanding the needs and limitations of both.</p></h3> <br>

                <h3><cite>3. Computer Technician</cite> <br> <img class="ctech" src="/static/assets/computer.jpg" align="left" alt="ctech"> 
                <p>Computer support specialists provide help and advice to people and organizations using computer software or equipment. Some, called computer 
                    network support specialists, support information technology (IT) employees within their organization. Others, called computer user support 
                    specialists, assist non-IT users who are having computer problems.</p></h3> <br>

                <h3><cite>4. Systems Administrator</cite> <br> <img class="admin" src="/static/assets/admin.jpg" align="left" alt="admin">
                <p> Systems Administrators are responsible for the maintenance, configuration, and reliable operation of computer systems and servers. 
                    They install hardware and software, and participate in research and development to continuously improve and keep up with the IT 
                    business needs of their organization. System administrators also actively resolve problems and issues with computer and server 
                    systems to limit work disruptions within the company.</p> </h3> <br>

                <h3><cite>5. Network Technician</cite> <br> <img class="network" src="/static/assets/network.jpg" align="left" alt="network">
                <p>A Computer Network Technician is an information technology professional engaged in various businesses to build and troubleshoot 
                    computer networks. These individuals focus on setup, repair, and troubleshooting of both hardware and software products that are 
                    incorporated in a business's operations.</p> </h3> <br>

                <h3><cite>6. Network Administrator</cite> <br> <img class="nadmin" src="/static/assets/nadmin.jpg" align="left" alt="nadmin">
                <p>Fully supporting, configuring, maintaining and upgrading corporate customer's networks and in house servers. Installing and 
                   integrating new server hardware and applications. Keeping an eye out for needed updates.</p> </h3> <br>
                
                <h3><cite>7. Assistant Manager</cite> <br> <img class="manager" src="/static/assets/manager.jpg" align="left" alt="manager">
                <p>Assistant Manager responsibilities include hiring and training sales associates, monitoring inventory and ordering merchandise 
                    based on demand. You will also research competitive products and analyze consumer behavior to ensure our store meets and exceeds 
                    client expectations.</p> </h3> <br>

                <h3><cite>8. Help Desk Analyst</cite> <br> <img class="help" src="/static/assets/help.jpg" align="left" alt="help">
                <p>A service desk analyst is an information technology (IT) professional who helps users resolve issues with computer hardware or software. 
                    They respond to user inquiries, assess problems and issues with IT equipment and applications, and help resolve these issues for users.</p> </h3> <br>

                <h3><cite>9. Software Engineer</cite> <br> <img class="engineer" src="/static/assets/engineer.jpg" align="left" alt="engineer">
                <p>Computer support specialists provide help and advice to people and organizations using computer software or 
                    equipment. Some, called computer network support specialists, support information technology (IT) employees within their 
                    organization. Others, called computer user support specialists, assist non-IT users who are having computer problems.</p> </h3> <br>
            </ul>
    

    {% endblock content %}


</body>
</html>