<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>
<body>

    <!--jinja - from base.html template-->
    {% extends 'base.html' %}
    {% block content %}


    <!--start here-->
    <div style="width:100%;">
    &nbsp;&nbsp;
    <h1>Welcome to our blog!</h1>
    <img class="logo" src="/static/assets/logo.png" alt="logo">
    &nbsp;&nbsp;
     <p>We are two students majoring in Information Systems  who are continous learners with a shared interest
         in blogging. We love being able to showcase what we have learned so far. Our goal is to provide tips and resources to other IS majors on how to navigate college life to prepare them for the professional world.
         We wish you all the best and hope to continue learning with you!
     </p>
        <h6>Shared Hobbies</h6>
        <ul class="list"> 
            <li>Reading</li>
            <li>Running</li>
            <li>Painting</li>
        </ul>

        <h6>Suriyah's Experience</h6>
            <p>I started off as a business management major and focused mostly on my love of sports before I found a love for IS.
                I started working as a server for Suntrust Stadium than I moved to a job as a Cryo Therapy Technician. While working
                these jobs, I took on the role of president for the Kennesaw Club Lacrosse Team, which helped me learn what to prioritize, how 
                to create schedules, and lead a team. All this combined with a great experience in IS 3100 showed me that my true passion
                is coding and automating functions. 
            </p>
        <h6>Faith's Experience</h6>
        <p>I come from a family who has business and technology degrees. I chose IS as I thought it would be a great mix of both professions. I have had various
            internship experiences and I am currenly a data analyst at a fortune 50 company.
        </p>

     </div>
    <br />

     <div>
         <img class="books" src="/static/assets/books.jpg" alt="books">
         <img class="coffee" src="/static/assets/coffee.jpg" alt="coffee">
         <img class="glasses" src="/static/assets/glasses.png" alt="glasses">
         <img class="notes"   src="/static/assets/notes.jpg" alt="notes">
     </div>




    {% endblock content %}




    

</body>
</html>