<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>
<body>

    <!--jinja - from base.html template-->
    {% extends 'base.html' %}
    {% block content %}


    <!--start here-->
    <h1>Welcome To Our Blog</h1>
     <p>We are two asirping IS students that have a love for blogging, and continuious learning. We also love being able to showcase what
        we have learned to far. We are here to help you explore resume tips and get ideas of your IS career. We wish you all the best and 
        hope to continue learning with you.</p>
        <h3>Hobbies</h3>

        <h2>Suriyah's Experience</h2>
            <p>I started off as a business management major and focused mostly on my love of sports before I found a love for IS.
                I started working as a server for Suntrust Stadium than I moved to a job as a Cryo Therapy Technician. While working
                these jobs, I took on the role of president for the Kennesaw Club Lacrosse Team, which helped me learn what to prioritize, how 
                to create schedules, and lead a team. All this combined with a great experience in IS 3100 showed me that my true passion
                is coding and automating functions. 
            </p>


    




    {% endblock content %}




    

</body>
</html>